
@{
    ViewBag.Title = "Home Page";
    DateTime wea = DateTime.Now;
}


<form method="post" class="form-signin">
    <img class="mb-4" src="~/1591051000625.gif" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label class="sr-only">Usuario</label>
    <input name="User" placeholder="Usuario" class="form-control" required    autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="Pass" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; @wea.Year</p>
</form>